/*************  FOOTER  **************/
.footer{
    margin-top:50%;

    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p{
      color: #8a8a8a;
 }

 .footer h3{
      color: #fff;
      margin-bottom:80px;
 }

 .footer-col1,.footer-col21,.footer-col31,{
    min-width: 250px;
    margin-bottom:20px;
 }

 .footer-col1{
 flex-basis:30%;
}

 .footer-col21{
 flex:1;
 text-align:center;
}

 .footer-col21 img{
 width:180px;
 margin-bottom:20px;
}
 .footer-col31{
    flex-basis:12%;
    text-align:center;


 }
 ul1{
    list-style-type:none;
 }
 .app1{
    margin-top:20px;

 }
 .app1 img{
    width:140px;
 }
 .footer hr{
    border: none;
    background:#b5b5b5;
    height:1px;
    margin:20px 0;
 }

 .copyright{
    text-align:center;
 }



 /********* header **********/
 /****************  Meniu ****************/
 .navbar1{
     display: flex;
     align-items: center;
     padding: 20px;
 }

 nav1{
     flex: 1;
     text-align: right;
 }

 nav1 ul1{
     display: inline-block;
     list-style-type: none;
 }

 nav1 ul1 li1{
    display: inline-block;
    margin-right: 20px;
 }

 a1{
     text-decoration: none;
     color: #131212;
     font-weight:bolder;
 }

 p1{
    color: #672323;
     font-weight:550;
 }

 .container1{
     max-width:1300px;
     margin:auto;
     padding-left:25px;
     padding-right:25px;

 }
 .col21{
     flex-basis: 80%;
     min-width: 300px;
     display:inline-block;
 }

 .col21 img{
     max-width: 80%;
     padding:5px 0;
 }

 .col21 h11{
     font-size: 50px;
     line-height: 60px;
     margin:25px 0;
 }

 .col2 p1{
     font-size: 20px;
 }
 .btn1 {
     display: inline-block;
     background:#ff523b;
     color:#fff;
     padding:10px 45px;
     margin:50px 0;
     border-radius:30px;
 }

 /********* restul de header ************/

 .header{
     background: repeating-radial-gradient(#eeee,#ffaca0)
 }

 .header .row1{
     margin-top:70px;
 }

/********* produs **********/
.container {
    display:flex;
    background-color: #dedede;
    padding:1px;
    flex-wrap: wrap;
    flex-direction: row;
    width:50%;
    margin: auto;
}

.label {
    padding:20px;
    flex:1;
    background-color:#fefefe;
}

.value {
    padding: 20px;
     background-color: #9d9cfd;
    flex:1;
}