<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
    <link rel="stylesheet" href="styles/add.css"/>
</head>
<body>
<div class="header">

    <div class="container1">
        <div class="navbar1">
            <div class="logo">
                <img src="src/poze/logo.png" width="125px">
            </div>
            <nav1>
                <ul1 id="MenuItem">
                    <li1><a href="index.html"> Home</a></li1>
                </ul1>
            </nav1>

            <!----    <img src="src/poze/menu.png" class="menuicon" onclick="menutoggle() ">   --->
        </div>
    </div>
</div>
<div  id="add">
    Name: <input type="text" v-model="laptop.name" />
    Procesor si numar nuclee: <input type="text" v-model="laptop.Procesor"/>
    Frecventa: <input type="text" v-model="laptop.frecventa"/>
    Frecventa Turbo: <input type="text" v-model="laptop.frecventaTurbo"/>
    Tip memorie: <input type="text" v-model="laptop.TipMem"/>
    HardDisk: <input type="text" v-model="laptop.HardDisk"/>
    Sistem de operare: <input type="text" v-model="laptop.SistemDeOperare"/>
    Placa video: <input type="text" v-model="laptop.placaVideo"/>
    Pret: <input type="text" v-model="laptop.price"/>


    <button v-on:click="add(laptop)">Save</button>
    <p>{{message}}</p>
</div>
<!---------- footer ---->
<div class="footer">
    <div class="container1">
        <div class="row1">
            <div class="footer-col1">
                <h3> Download Our App</h3>
                <p>Download App for Android and IOS mobil phone</p>
                <div class="app1">
                    <img src="src/poze/magazine.png">
                </div>
            </div>
            <div class="footer-col21">
                <img src="src/poze/logo.png" width="125px">
                <p>Our Purpose Is To Sustain Your Other Real Life<br> And Show You The Benefits Of Lots Of Others Lives
                </p>
            </div>
            <div class="footer-col31">
                <h3> Follow us</h3>
                <ul1>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul1>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <p>Copyright 2021 -Gaurean Florina</p>
        </div>
    </div>
</div>

<script src="src/add.js"></script>
</body>
</html>