<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="utf-8" http-equiv="encoding"/>
    <title>Gaming Laptops</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="styles/vue-material.css"/>
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/vue-material.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
    <script type="text/javascript" src="src/laptops-service.js"></script>
</head>

<body>

<!--------------------  HEADER --------------------->
<div class="header">

    <div class="container1">
        <div class="navbar1">
            <div class="logo">
                <img src="src/poze/logo.png" width="125px">
            </div>
            <nav1>
                <ul1 id="MenuItem">
                    <li1><a href=""> Home</a></li1>
          </ul1>
            </nav1>
            <img src="src/poze/cart.png" width="30px" height="30px">
        <!----    <img src="src/poze/menu.png" class="menuicon" onclick="menutoggle() ">   --->
        </div>
        <div class="row1">
            <div class="col21">
                <h11>Give to your games a new<br> experience!</h11>
              <br>
                <p1>Games don't make you violent, lag does!<br>
                    Let us show you the way to a peaceful house<br>
                    Home is where you are 'Player1'
                </p1>
              <br>
                <a1 href="" class="btn1">Explore now &#8594;</a1>
            </div>
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp

            &nbsp

            <div class="col21">
                <img src="src/poze/gameover.png">
            </div>
        </div>
    </div>
</div>

<!------------ featured categories -------->

<!-----------------Poate ramane neschimbata aceasta zona----------------->
<div class="categories1">
    <div class="small-container1">
        <div class="row1">
            <div class="col31">
                <img src="src/poze/section1/laptops2.jpg" width="215px" height="200px">
            </div>
            <div class="col31">
                <img src="src/poze/section1/laptops4.jpg" width="215px" height="200px">
            </div>
            <div class="col31">
                <img src="src/poze/section1/laptops3.jpg" width="215px" height="200px">
            </div>
        </div>
    </div>
</div>


<!-----------------  Products --------------->
<div id="app">

    <div class="title">All laptops</div>

    <p style="text-align: center" v-if="laptops.length == 0">No laptops found</p>

    <ul class="user-list" v-if="laptops.length > 0">
        <li>
            <div class="user-row-header">
                <div class="user-name">Name</div>
                <div class="user-city">Price</div>
            </div>
        </li>

        <li v-for="laptop in laptops">
            <div class="">
                <a :href="'details.html?id='+laptop.id">{{ laptop.name }}</a>
                <span class=""><i>{{ laptop.price }}</i></span>

                <button v-on:click="deleteLaptop(laptop.id)">Delete</button>
                <div class="updateContainer">
                    <a :href="'update.html?id='+laptop.id" target="_self">Update</a>
                </div>

            </div>
        </li>
    </ul>
</div>
<script src="src/app.js"></script>
</body>

</html>